  <noscript>
    <style>
      noscript {
        top: 0;
        left: 0;
        position: absolute;
        background-color: yellow;
        width: 100%;
      }
      noscript p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </noscript>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <noscript>
    <p>You seem to have JavaScript disabled. Unfortunately this site won't work without it. Check out <a href="https://www.enable-javascript.com/" target="_blank">these instructions</a> if you want to enable javascript.</p>
  </noscript>
  <div id="container" style="display: none">
    <div class="topnav">
      <a class="active" id='tab-top' data-href='/'>top</a>
      <a id='tab-new' data-href='/new/1'>new</a>
      <a id='tab-show' data-href='/show/1'>show</a>  
      <a id='tab-ask' data-href='/ask/1'>ask</a> 
      <a id='tab-jobs' data-href='/jobs/1'>jobs</a> 

      <a id='tab-about' data-href='/about'>about</a>     
    </div>

    <p id="main"></p>

  </div>